In [12]:
import io
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn
import seaborn as sns
import datetime as dt

In [13]:
from sklearn.model_selection import TimeSeriesSplit, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
import sklearn.metrics as metrics

seaborn.set_context('talk')
# Set float format
pd.set_option('display.float_format','{:.2f}'.format)
pd.set_option('mode.chained_assignment', None)

# Set style
seaborn.set_style("darkgrid")
seaborn.set_palette('pastel')
seaborn.set_context("paper", rc={"font.size":12,"axes.titlesize":12,"axes.labelsize":12})

In [14]:
curated_pkl = pd.read_pickle('curated_df.pkl')

In [16]:
curated_pkl.head()

,id_equipo,nombre_producto,capacidad,industria,volumen_escl,consumo_escl
timestamp,,,,,,
2021-01-01 00:00:00,477,VP Nafta,15032.00,Service Station,0.06,0.00
2021-01-01 00:05:00,477,VP Nafta,15032.00,Service Station,0.06,0.00
2021-01-01 00:10:00,477,VP Nafta,15032.00,Service Station,0.06,0.00
2021-01-01 00:15:00,477,VP Nafta,15032.00,Service Station,0.06,0.00
2021-01-01 00:20:00,477,VP Nafta,15032.00,Service Station,0.06,0.00

In [17]:
#pip install sklearn

In [18]:
#pip install matplotlib

In [19]:
#pip install pandas

In [20]:
#pip install seaborn

In [22]:
df=curated_pkl.copy()

In [26]:
df.industria.unique()

array(['Service Station', 'Agriculture', 'Transportation', 'Oil&Gas',
       'Unknown', 'Mining', 'Construction', 'Industry', 'Public',
       'Telcos', 'Distributor'], dtype=object)

In [29]:
df_transp= df[df["industria"]=="Transportation"]

In [33]:
df_transp.id_equipo.value_counts()

520    51830
874    51830
838    51828
479    40100
851    25920
453    25920
541    25919
661    25916
501    25915
871    25915
629    25915
220    25915
788    25915
637    25915
537    25915
638    25915
531    25915
867    25915
626    25915
849    25915
831    25915
801    25915
806    25915
227    25912
600    25909
827    25909
455    25909
816    25300
210    24643
828    24339
508    24257
830    24007
823    21457
813    18985
958    11577
814     5095
915       16
917        1
Name: id_equipo, dtype: int64

In [34]:
df_transp_520=df_transp[df_transp["id_equipo"]=="520"]

In [35]:
df_transp_520

,id_equipo,nombre_producto,capacidad,industria,volumen_escl,consumo_escl
timestamp,,,,,,
2021-01-01 00:00:00,520,DIESEL EURO,41434.00,Transportation,0.21,0.00
2021-01-01 00:05:00,520,DIESEL EURO,41434.00,Transportation,0.21,0.00
2021-01-01 00:10:00,520,DIESEL EURO,41434.00,Transportation,0.21,0.00
2021-01-01 00:15:00,520,DIESEL EURO,41434.00,Transportation,0.21,0.00
2021-01-01 00:20:00,520,DIESEL EURO,41434.00,Transportation,0.21,0.00
...,...,...,...,...,...,...
2021-03-31 23:10:00,520,ULTRA DIESEL,82868.00,Transportation,0.39,0.00
2021-03-31 23:15:00,520,ULTRA DIESEL,82868.00,Transportation,0.39,0.00
2021-03-31 23:20:00,520,ULTRA DIESEL,82868.00,Transportation,0.39,0.00
2021-03-31 23:25:00,520,ULTRA DIESEL,82868.00,Transportation,0.39,0.00
2021-03-31 23:30:00,520,ULTRA DIESEL,82868.00,Transportation,0.39,0.00

In [36]:
df_transp_520.nombre_producto.value_counts()

DIESEL EURO     25915
ULTRA DIESEL    25915
Name: nombre_producto, dtype: int64